.bg-gradient-custom {
  background: linear-gradient(90deg, #0062E6, #33AEFF);
}

.navbar-brand img {
  max-width: 60px;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modal-card {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.btn-close-custom {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

